body {
    height: 100%;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    color: #fff;
    min-width: 1440px;
    background: #12141D;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

p {
    margin: 0;
}


/* CONTAINER */
.container {
    width: 100%;
    height: 100%;
    max-width: 1100px;
    margin: 0 auto;
    padding: 30px 0px 30px 0px;
}

.container__specialization {
    width: 100%;
    max-width: 306px;
    margin: 0 auto;
    padding: 25px 0px 40px 0px;
}

/* HEADER */
.header {
    width: 100%;
    margin-bottom: 30px;
}

.header__inner {
    display: flex;
    justify-content: space-between;
}

.logo__title {
    font-style: normal;
    font-weight: 800;
    font-size: 30px;
    line-height: 45px;
}

.nav {
    display: flex;
    list-style: none;
    padding: 0;
}

.link__text {
    text-decoration: none;
    font-style: normal;
    font-weight: normal;
    line-height: 21px;
    color: #fff;
    position: relative;
}

.link__text:after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin:  -3px auto;
    width: 0%;
    content: '.';
    color: transparent;
    background: #fff;
    height: 2px;
    transition: all .5s;
}

.link__text:hover:after {
    width: 100%;
}

.nav__link {
    margin-left: 40px;
}

.nav__link:first-child {
    margin-left: 0px;
}

.header__contact {
    display: flex;
    align-items: center;
    width: 157px;
    height: 53px;
    background: #4080BF;
    border-radius: 10px;
}

.contact__text {
    padding: 13px 27px;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 27px;
    text-transform: capitalize;
    color: #FFFFFF;
    text-decoration: none;
}

.header__contact:hover {
    background: #2e72b6;
    color: rgb(243, 241, 241);
}


/* MAIN */
.main {
    width: 100%;
    margin-bottom: 120px;
}

.main__background {
    border-radius: 20px;
    background-image: url(../imgs/main__bg.png);
    height: 650px;
}

.main__inner {
    display: block;
    padding: 207px 0px 0px 350px;
}

.main__title {
    font-style: normal;
    font-weight: 800;
    font-size: 61px;
    line-height: 92px;
    margin-bottom: 10px;
}

.main__subtitle {
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 38px;
    margin-bottom: 30px;
}


/* ABOUT */
.about {
    width: 100%;
    margin-bottom: 120px;
}

.about__title {
    font-style: normal;
    font-weight: 800;
    font-size: 50px;
    line-height: 70px;
    margin-bottom: 40px;
}

.about__infrom {
    display: flex;
    flex-wrap: wrap;
}

.inform__since {
    display: flex;
    align-items: center;
    width: 50%;
    margin-bottom: 30px;
}

.since__logo {
    width: 70px;
    height: 70px;
    background: #1E2028;
    border-radius: 50%;
    text-align: center;
    padding-top: 14px;
    margin-right: 30px;
}

.since__logo__text {
    font-style: normal;
    font-weight: 800;
    font-size: 28px;
    line-height: 42px;
    text-transform: capitalize;
    color: #A1C5E9;
}

.since__title {
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 42px;
    text-transform: capitalize;
}

.since__subtitle {
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 30px;
    text-transform: capitalize;
}

.inform__satisfying {
    display: flex;
    align-items: center;
    justify-content: end;
    width: 50%;
    margin-bottom: 30px;
}

.satisfying__logo {
    width: 70px;
    height: 70px;
    background: #1E2028;
    border-radius: 50%;
    text-align: center;
    padding-top: 18px;
    margin-right: 30px;
}

.satisfying__title {
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 42px;
    text-transform: capitalize;
}

.satisfying__subtitle {
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 30px;
    text-transform: capitalize;
}

.inform__world {
    display: flex;
    align-items: center;
    width: 50%;
}

.world__logo {
    width: 70px;
    height: 70px;
    background: #1E2028;
    border-radius: 50%;
    text-align: center;
    padding-top: 15px;
    margin-right: 30px;
}

.world__title {
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 42px;
    text-transform: capitalize;
}

.world__subtitle {
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 30px;
    text-transform: capitalize;
}

.inform__secure {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.secure__logo {
    width: 70px;
    height: 70px;
    background: #1E2028;
    border-radius: 50%;
    text-align: center;
    padding-top: 22px;
    margin-right: 30px;
}

.secure__title {
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 42px;
    text-transform: capitalize;
}

.secure__subtitle {
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 30px;
    text-transform: capitalize;
}


/* SPECIALIZATION */
.specialization {
    width: 100%;
}

.specialization__title {
    text-align: center;
    font-style: normal;
    font-weight: 800;
    font-size: 50px;
    line-height: 83px;
    text-transform: capitalize;
    margin-bottom: 50px;
}

.specialization__choose__top {
    display: flex;
    flex-direction: row;
}

.specialization__choose__bot {
    display: flex;
    flex-direction: row;
}

.choose__branding {
    width: 350px;
    height: 350px;
    background: #1E2028;
    border-radius: 10px;
    margin: 0px 30px 30px 0px;
}

.specialization__img__block {
    display: block;
    height: 80px;
}

.choose__img__mb50 {
    margin-bottom: 50px;
}

.choose__title {
    margin-bottom: 10px;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    text-transform: capitalize;
}

.choose__subtitle {
    margin-bottom: 50px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 28px;
    font-feature-settings: 'salt' on, 'liga' off;
}

.choose__read {
    display: flex;
    align-items: center;
}

.choose__link {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    font-feature-settings: 'salt' on, 'liga' off;
    color: #A1C5E9;
    text-decoration: none;
    margin-right: 20px;
}

.choose__link:hover {
    text-decoration: underline;
}

.choose__vector {
    width: 18px;
    height: 13px;
}

.choose__mobile {
    width: 350px;
    height: 350px;
    background: #1E2028;
    border-radius: 10px;
    margin: 0px 30px 30px 0px;
}

.choose__commerce {
    width: 350px;
    height: 350px;
    background: #1E2028;
    border-radius: 10px;
    margin-bottom: 30px;
}

.choose__resources {
    width: 350px;
    height: 350px;
    background: #1E2028;
    border-radius: 10px;
    margin-right: 30px;
}

.choose__managment {
    width: 350px;
    height: 350px;
    background: #1E2028;
    border-radius: 10px;
    margin-right: 30px;
}

.choose__design {
    width: 350px;
    height: 350px;
    background: #1E2028;
    border-radius: 10px;
}


/* PROJECT */
.project {
    width: 100%;
    margin-top: 120px;
}

.project__inner {
    position: relative;
}

.project__title {
    font-style: normal;
    font-weight: 800;
    font-size: 50px;
    line-height: 70px;
    margin-bottom: 50px;
}

.project__view {
    display: flex;
    align-items: center;
    position: absolute;
    right: 0px;
    top: 120px;
}

.project__link {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    font-feature-settings: 'salt' on, 'liga' off;
    color: #A1C5E9;
    text-decoration: none;
    margin-right: 20px;
}

.project__link:hover {
    text-decoration: underline;
}

.project__vector {
    width: 18px;
    height: 13px;
}

.project__examples {
    display: flex;
    flex-wrap: wrap;
}

.example__stayhealthy {
    border-radius: 20px;
    width: 540px;
    height: 305px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.example__gospace {
    border-radius: 20px;
    width: 540px;
    height: 307px;
}


.example__vaksin {
    border-radius: 20px;
    width: 540px;
    height: 307px;
    margin-right: 20px;
}


.example__staycation {
    border-radius: 20px;
    width: 540px;
    height: 306px;
    margin-bottom: 20px;
}


/* MEET */
.meet {
    width: 100%;
    margin-top: 150px;
}

.meet__title {
    font-style: normal;
    font-weight: 800;
    font-size: 50px;
    line-height: 75px;
    text-align: center;
    margin-bottom: 50px;
}

.meet__personal {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.jhon__doe {
    display: flex;
    width: 535px;
    height: 408px;
    justify-content: end;
}

.jhon__doe__text {
    display: block;
    text-align: right;
    margin-right: 11px;
    padding-top: 250px;
}

.name {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    margin-bottom: 10px;
}

.jhon__doe__img {
    width: 285px;
    height: 360px;
}

.doe__jhon__img {
    width: 285px;
    height: 360px;
}

.jhon__key__img {
    width: 285px;
    height: 360px;
}

.kekey__img {
    width: 285px;
    height: 360px;
}

.about__person {
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 26px;
}

.doe__jhon {
    display: flex;
    width: 535px;
    justify-content: start;
    align-items: flex-end;
}

.doe__jhon__text {
    display: block;
    text-align: left;
    padding-bottom: 20px;;
    margin-left: 13px;
}

.jhon__key {
    display: flex;
    width: 535px;
    height: 408px;
    justify-content: end;
}

.jhon__key__text {
    display: block;
    text-align: right;
    margin-right: 11px;
    padding-top: 250px;
}

.kekey {
    display: flex;
    width: 535px;
    justify-content: start;
    align-items: flex-end;
}

.kekey__text {
    display: block;
    text-align: left;
    padding-bottom: 20px;
    margin-left: 13px;
}


/* FEEDBACK */
.feedback {
    width: 100%;
    margin-top: 200px;
}

.feedback__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.feedback__say {
    font-style: normal;
    font-weight: 800;
    font-size: 50px;
    line-height: 83px;
    margin-bottom: 10px;
}

.feedback__helps {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 35px;
    font-feature-settings: 'salt' on, 'liga' off;
}

.feedback__block {
    width: 570px;
    height: 500px;
    background: #1E2028;
    border-radius: 10px;
}

.feedback__other {
    margin: 37px 0px 20px 450px;
    opacity: 0.5;
}

.feedback__info {
    display: flex;
    margin-left: 26px;
    align-items: center;
}

.info__text {
    margin-left: 20px;
}

.info__name {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
}

.info__profession {
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 21px;
}

.feedback__text {
    margin-left: 26px;
    margin-top: 20px;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 31px;
    font-feature-settings: 'salt' on, 'liga' off;
}


/* GROW */
.grow {
    width: 100%;
    height: 465px;
    background: #1E2028;
    margin-top: 150px;
    padding: 20px 0px;
}

.grow__title {
    text-align: center;
    font-style: normal;
    font-weight: 800;
    font-size: 50px;
    line-height: 80px;
    margin-bottom: 36px;
}

.grow__contact {
    display: flex;
    align-items: center;
    width: 157px;
    height: 53px;
    background: #4080BF;
    border-radius: 10px;
    margin: 0 auto;
}

.grow__contact:hover {
    background: #2e72b6;
    color: rgb(243, 241, 241);
}

.grow__benefits {
    display: flex;
    margin-top: 50px;
    justify-content: center;
}

.benefits__customer {
    display: block;
    border-left: 2px solid #fff;
    border-right: 2px solid #fff;
    text-align: center;
    padding: 0px 35px;
    margin-right: 30px;
}

.benefits__project{
    display: block;
    border-left: 2px solid #fff;
    border-right: 2px solid #fff;
    text-align: center;
    padding: 0px 40px;
    margin-right: 30px;
}

.benefits__awards {
    display: block;
    border-left: 2px solid #fff;
    border-right: 2px solid #fff;
    text-align: center;
    padding: 0px 60px;
}

.benefits__number {
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 40px;
    font-feature-settings: 'salt' on, 'liga' off;
}

.benefits__info {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    font-feature-settings: 'salt' on, 'liga' off;
}


/*FOOTER*/
.footer {
    width: 100%;
    margin-top: 50px;
    border-top: 1px solid #1E2028;
}

.footer__inner {
    display: flex;
    margin-top: 20px;
}

.footer__icons {
    display: flex;
}

.footer__logo {
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 10px;
}

.footer__copyright {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 26px;
    margin-bottom: 20px;
}

.footer__icon__bg {
    width: 32px;
    height: 32px;
    background: #1E2028;
    border-radius: 50%;
    margin-right: 10px;
}

.icon__inst {
    padding: 7px;
}

.icon__path {
    padding: 7px;
}

.icon__youtube {
    padding: 10px 7px;
}

.footer__company {
    margin-left: 160px;
}

.footer__links {
    color: #fff;
    text-decoration: none;
}

.footer__links:hover {
    text-decoration: underline;
}

.footer__text__title {
    margin-bottom: 20px;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
}

.footer__text {
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 10px;
}

.footer__support {
    margin-left: 120px;
}

.footer__get {
    margin-left: 70px;
}

.footer__email__address {
    height: 40px;
    width: 230px;
    outline: none;
    background: #333333;
    border-radius: 8px;
    border: none;
    padding: 10px 30px 9px 12px;
    color: #D9DBE1;
}

.footer__email__address::placeholder {
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 21px;
    font-feature-settings: 'salt' on, 'liga' off;
    color: #D9DBE1;
}

.footer__button__send {
    border: none;
    height: 1.2em;
    width: 1.2em;
    position: relative;
    left: -30px;
    vertical-align: middle;
    background: #333333;
    cursor: pointer;
    padding: 0px;
}

